﻿<%--ZD 100147 start--%>
<%--/* Copyright (C) 2015 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/--%>
<%--ZD 100147 ZD 100866 End--%>
<%@ Page Language="C#" AutoEventWireup="true" Inherits="en_NewRepeatOps" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>New Repeatops</title>
    <script type="text/javascript" src="script/wincheck.js"></script> <%--FB 3055--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input type="hidden" id="hdnPath" runat="server" value="c:\\vrmschemas_V1.8.3"/>
        <input type="hidden" id="hdnThrds" runat="server" value="100"/>
    </div>
    </form>
</body>
</html>
